body {

    margin: 0px;
    padding: 0px;
    background: #444444;

}

.header {

    margin: 0px;
    border: 0px;
    background: rgba(0,0,0,0);

}





/*

EBU SLONOV

# - id selector
. - class selector
<type> - global selector by type

* - chooses every elements

    Соседние селекторы
Комбинатор '+' выбирает элемент, который находится непосредственно после указанного элемента, если у них общий родитель.
Синтаксис: A + B
Пример: селектор ul + li выберет любой <li> элемент, который  находится непосредственно после элемента <ul>.
    Родственные селекторы
Комбинатор'~' выбирает элементы, которые находятся после указанного элемента, если у них общий родитель.
Синтаксис: A ~ B
Пример: p ~ span выберет все элементы <span>, которые находятся после элемента <p> внутри одного родителя.
    Дочерние селекторы
Комбинатор '>' выбирает элементы, которые являются дочерними непосредственно по отношению к указанному элементу.
Синтаксис: A > B
Пример: селектор ul > li выберет все элементы <li>, которые находятся внутри элемента <ul>.
    Вложенные селекторы
Комбинатор ' ' выбирает элементы, которые находятся внутри указанного элемента (вне зависимости от уровня вложенности).
Синтаксис: A B
Пример: селектор div span выберет все элементы <span>, которые находятся внутри элемента <div>.

*/
