body {

    border: 0px;
    margin: 0px;
    padding: 0px;
    background: #DDD;

}

/* Header block */

.header {

    margin: 0px;
    padding: 0px;
    border: 0px;
    background: rgb(147, 185, 152);
    display: block;
    height: 100px;

}

.header__underpanel {

    margin: 100px auto 10px auto;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    display: block;
    width: 50%;
    background: linear-gradient(to left, rgb(141, 213, 149), rgb(153, 184, 157));

}

.header__underpanel_orientation {

    display: inline;
    margin: 10px;
    padding: 0px;
    border: 0px;

}

.header__underpanel_input {

    padding: 5px;
    margin: 0px;
    background: rgb(166, 219, 173);
    border: 0px;
    font-family: monospace;
    font-size: 14px;
    color: rgb(97, 122, 100);
    transition: 300ms background,color;

}

.header__underpanel_input:hover {

    background: rgb(98, 181, 127);

}

.header__underpanel_input:focus {

    background: rgb(78, 147, 102);
    color: rgb(160, 193, 123);

}

/* Labels block */

.label__big {

    font-family: Segoe UI;
    color: #494949;
    font-weight: 200;
    font-size: 35px;
    padding: 20px 5px 20px 5px;


}
.label__small {

    font-family: Segoe UI;
    color: #464646;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 18px;


}

/* Buttons block */

.button__common {

    display: block;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    border: 2px;
    border-radius: 5px;
    background: rgb(157, 230, 166);
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 16px;
    color: rgb(81, 96, 73);
    transition: 80ms all;

}

.button__common:hover {

    background: rgb(127, 185, 134);
    color: rgb(203, 224, 184);
    cursor: pointer;

}

.button__common:active {

    transition: 20ms all;
    background: rgb(100, 164, 107);
    color: rgb(127, 241, 138);

}

/* Song container */

.song_container {
    margin: 5px auto 10px auto;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    display: block;
    width: 50%;
    background: rgb(137, 195, 144);
    border-radius: 5px;
    padding: 20px 10px 10px 10px;

}

.song_container_element {



}



















/*

# - id selector
. - class selector
<type> - global selector by type

* - chooses every elements

    Соседние селекторы
Комбинатор '+' выбирает элемент, который находится непосредственно после указанного элемента, если у них общий родитель.
Синтаксис: A + B
Пример: селектор ul + li выберет любой <li> элемент, который  находится непосредственно после элемента <ul>.
    Родственные селекторы
Комбинатор'~' выбирает элементы, которые находятся после указанного элемента, если у них общий родитель.
Синтаксис: A ~ B
Пример: p ~ span выберет все элементы <span>, которые находятся после элемента <p> внутри одного родителя.
    Дочерние селекторы
Комбинатор '>' выбирает элементы, которые являются дочерними непосредственно по отношению к указанному элементу.
Синтаксис: A > B
Пример: селектор ul > li выберет все элементы <li>, которые находятся внутри элемента <ul>.
    Вложенные селекторы
Комбинатор ' ' выбирает элементы, которые находятся внутри указанного элемента (вне зависимости от уровня вложенности).
Синтаксис: A B
Пример: селектор div span выберет все элементы <span>, которые находятся внутри элемента <div>.

*/
